.main-section {
  background-color: beige;
  padding: 23px;
  margin: 10px auto;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  max-width: 900px;
}

.input-group {
  display: flex;
  justify-content: space-between;
  gap: 20px; /* Adds space between inputs */
  margin-bottom: 20px; /* Adds spacing between groups */
}
.input-group p {
  width:100%;
}

.input-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.input-group input {
  width: 100%; /* Makes input take the full width */
  padding: 8px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.input-group input:focus {
  border-color: #9694FF; /* Adds focus effect */
  outline: none;
  box-shadow: 0 0 5px rgba(150, 148, 255, 0.5); /* Subtle shadow */
}
